@using WeModels
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="~/js/layui-v1.0.3/layui/lay/dest/layui.all.js"></script>
    <link href="~/js/layui-v1.0.3/layui/css/layui.css" rel="stylesheet" media="all" />
    <script src="~/js/jquery-1.10.2.min.js"></script>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加快递公司</legend>
    </fieldset>
    <form class="layui-form" action="">

        <blockquote class="layui-elem-quote">不填快递公司代号时，将不能在商城查到物流信息</blockquote>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:200px">快递公司名称</label>
            <div class="layui-input-inline" style="width:400px">
                @Html.TextBox("PostName", "", new { @class = "layui-input", @lay_verify = "required", @placeholder = "请输入快递公司名称", @autocomplete = "off", @required = "" })
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:200px">快递公司代号</label>
            <div class="layui-input-inline" style="width:400px">
                @Html.TextBox("PostCode", "", new { @class = "layui-input", @lay_verify = "required", @placeholder = "请输入快递公司代号", @autocomplete = "off", @required = "" })
            </div>
        </div>
        
        @if (Model != null) 
        {
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px; ">是否使用</label>
            <div class="layui-input-block" style="width: 400px; ">
                <input type="radio" name="IsHave" value="true" title="使用" @(Model.IsHave == true ? "checked=''" : "")><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><span>使用</span></div>
                <input type="radio" name="IsHave" value="false" title="禁用" @(Model.IsHave == false ? "checked=''" : "")><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>禁用</span></div>
            </div>
        </div>
        }
        else 
        {
             <div class="layui-form-item">
                 <label class="layui-form-label" style="width: 200px; ">是否使用</label>
                 <div class="layui-input-block" style="width: 400px; ">
                     <input type="radio" name="IsHave" value="true" title="使用" checked="checked"><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><span>使用</span></div>
                     <input type="radio" name="IsHave" value="false" title="禁用"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>禁用</span></div>
                 </div>
        </div>
        }
      
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px; ">排序</label>
            <div class="layui-input-inline" style="width:400px">
                @Html.TextBox("Sort", "", new { @class = "layui-input", @placeholder = "请输入排序序号", @autocomplete = "off" })
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px; "></label>
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="go">保存</button>
            </div>
        </div>
    </form>

    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form();

            //监听提交
            form.on('submit(go)', function (data) {
                $.post("/BasePostCode/ToAdd", $("form").serialize(), function (rtn) {
                    if (rtn == "ok") {
                        parent.window.location.href = parent.window.location.href;
                    }
                    else {
                        layer.alert(rtn);
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
